<%= form_with(model: solution, local: true) do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% MadLib.find(params[:mad_lib_id]).buildhash.each do |k, v| %>
    <div class="field">
      <%=  k %>
      <%= form.text_field k %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.button :submit, name: "mad_lib_id", value: params[:mad_lib_id] %>
  </div>
<% end %>
