<p id="notice"><%= notice %></p>

<p>
  <strong>Mad lib:</strong>
  <%= MadLib.find(@solution.mad_lib_id).text %>
</p>

<p>
  <strong>Text:</strong>
  <%= @solution.text %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
